.button{
    border-radius:50px ;
    font-weight: bold;
    width: 180px;
    height: 50px;

}

.buttonAdd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }